* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.table-container {
  padding: 40px;
}
.student{
  text-align: center;
  margin-bottom: 1rem;
}
table {
  border-collapse: collapse;
  margin: 0 auto;
}
th{
  color: dodgerblue;
}
th,
td {
  border: 1px solid grey;
  padding: 10px;
  text-align: left;
  color: #111;
}
tr:nth-child(even){
  background-color: #ddd;
}